<%= form_tag bookmarks_path, method: 'get' do %>
  <fieldset>
    <%= text_field_tag 'search', @search, placeholder: "Search Bookmarks", size: 35   %>
    <% if params[:search].present? %>
         <%= link_to "clear", bookmarks_path, class: 'btn btn-primary btn-sm' %>
        <br>
       <% else %>

            <button type="submit" class="btn btn-primary btn-sm">

              <span class="glyphicon glyphicon-search"></span>
            </button>

  </fieldset>

        <% end %>
    <% end %>
<br>