/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= @import "bootstrap-sprockets";
*= @import "bootstrap";
*= @import 'bootstrap/theme';
 *= require_tree .
 *= require_self
 *=
 */


@import "bootstrap-sprockets";
@import "bootstrap";


.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.alert-notice {
  @extend .alert-notice;
}

.jumbotron {
  background-image: url("1.jpg");
  background-size: cover;
  height: auto;
}

.jumbotron p {
  font-weight: 100 !important;
  color: #ffffff !important;

}

.jumbotron h1 {
  letter-spacing:10px !important;
  font-weight: 100 !important;
  color: #FFFFFF !important;
}

.open > a, .navbar-default .navbar-nav > .active > a {
  background-image: linear-gradient(to bottom, #3f8df3  0%, #3f8df3 100%) !important;
}

.active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff !important;
}

