<footer class="row container-fluid">
  <div class="top_footer row m0">
    <div class="container">
      <div class="row m0 quick_contact">
        <ul class="nav nav-pills">
          <li><a href="tel:7035557890"><i class="lnr lnr-phone"></i>703 - 555 - 7890</a></li>
          <li><a href="mailto:info@gabookmarks.com"><i class="lnr lnr-envelope"></i>info@gabookmarks.com</a></li>
          <li><a href="#"><i class="lnr lnr-bubble"></i>chat with us</a></li>
        </ul>
      </div>
      <div class="row shortKnowledge">
        <div class="col-sm-6 about">
          <h4>GA Bookmarks </h4>
          <p>GA Bookmarks is a US based cloud software company. Our learn and agile team as a wealth of talent and experience. We are focused on creating the best online applications to help creatives manage and grow their business</p>
        </div>
        <div class="col-sm-6 product">
          <h4>Product</h4>
          <ul class="product_list nav">
            <li><a href="#">Mobile Apps</a></li>
            <li><a href="#">GA Task Manager</a></li>
            <li><a href="#">GA Calendar</a></li>
            <li><a href="#">GA Bookmark Manager</a></li>
            <li><a href="#">GA Mail Plugins</a></li>
            <li><a href="#">Other Products</a></li>
          </ul>
        </div>
      </div>
      <div class="row beInContact m0">
        <div class="btn-group country_select">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="flag"> <%= image_tag("icons/footer/flag.png", class: 'img-circle') %> </span>USA<i class="fa fa-chevron-down"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">India</a></li>
            <li><a href="#">Bangladesh</a></li>
            <li><a href="#">England</a></li>
            <li><a href="#">Africa</a></li>
            <li><a href="#">Australlia</a></li>
          </ul>
        </div>
        <div class="social_icos">
          <ul class="nav">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-google"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="subscribe_form">
          <form action="#" class="form-inline">
            <div class="form-group">
              <label>Subscribe<small>Newsletter</small></label>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Email Address">
                <span class="input-group-addon"><input type="submit" value="Go" class="btn"></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row m0 copyright_line">
    Copyright &copy; 2015 GABookmarks.com. All Rights Reserved
  </div>
</footer>